<h1>EDIT PAGE</h1>

  <div class="box2">
     <h3>Image</h3>
    <% if @country %>
      <%= form_for(@country , :html => { :multipart => true}) do |f| %>
        <%= f.label :image %><br> 
        <%= f.file_field :image %>
        <%= f.submit %>
      <% end %>
     <% end %>
     <br>

     <p> No photo to add?<%= link_to "Home page", root_path, :class => "btn btn-sm btn-danger"  %><p>
    </div>


   