<div id="jumbo" class="jumbotron">

  
  <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p> -->
</div>
  <div id="box2" class="animated @keyframes fadeIn">
     
    <% if @country %>
      <%= form_for(@country , :html => { :multipart => true}, :class => "btn btn-sm btn-danger") do |f| %>
        <%= f.label :image %><br> 
        <%= f.file_field :image %>
        <%= f.submit %>
      <% end %>
     <% end %>
     <br>

     <p> No photo to add?<%= link_to "No photo to add?", root_path, :class => "btn btn-sm btn-danger"  %><p>
    </div>


   