 <h1>WELCOME HOME</h1>
  
   <div id="map-canvas"></div>

     <div class="box1">  
      <%= form_for :country, method: :post, url: countries_path do |f| %>
        <%= f.text_field :title, placeholder: "E.G. Santorini greece", :class => "form-control" %>
         <%= f.text_field :longitude, placeholder: "Longitude", :class => "form-control" %>
          <%= f.text_field :laitude, placeholder: "laitude", :class => "form-control" %>
         <br>
        <%= f.submit "Create", :class =>"btn btn-lg btn-warning" %>
      <% end %>
    </div>
     
  <div class="box1">
      <%= form_for @pin do |f| %>

    
    

  <%= f.label :Upload_an_image %>
  <%= f.file_field :image %>
<br></br> 
<%= f.submit "Add image", :class => "btn-info" %>

<% end %>
      
     </div>     
  

    <div class="box2">
     <h3>Wish list</h3>
     
    </div>

    <div class="box-list2" >
      <h3>Been there</h3>
      <% if @countries.blank? %>
        <p>No countries to display</p>

     <% else %>
     <ul>
     <% @countries.each do |c| %>
    <li> <%= c.title %> <%= link_to "ELIMINATE", c, method: :delete,:class => "btn btn-sm btn-danger", data:{confirm: "Are you sure it's time to ELIMINATE.." }  %></li><br>
    <% end %>
</ul>
<% end %>
    </div>

    <script>
      $(function(){

var stockholm = new google.maps.LatLng(67.742759, 123.398438);
var parliament = new google.maps.LatLng(59.327383, 18.06747);

var japan = new google.maps.LatLng(gon.lat, gon.lon);
var marker;
var map;

function initialize() {
  var mapOptions = {
    zoom: 2,
    center: stockholm
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

  marker = new google.maps.Marker({
    map:map,
    draggable:false,
    animation: google.maps.Animation.DROP,
    position: japan
  });
  google.maps.event.addListener(marker, 'click', toggleBounce);
}

function toggleBounce() {

  if (marker.getAnimation() != null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}



google.maps.event.addDomListener(window, 'load', initialize);
});
   
    </script>


