<!DOCTYPE html>
<html>
<head>
 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 <title>Shanes amazing page!</title>
  <%= include_gon %>
   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
   <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= csrf_meta_tags %>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="animate.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>

<body>
  <!-- for the nav bar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <ul class="nav navbar-nav">
       <% if user_signed_in? %>
         <li><a class="active"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></a></li>
         <li><a class="active"> Signed in as <%= current_user.email %>. Not you?</a></li>
         <li><a class="active"> <%#= link_to "edit account", edit_user_registration, :method => :get  %></a></li>
         <% else %>    
         <li ><%= link_to "Sign up", new_user_registration_path %></li>
         <li ><%= link_to "sign in", new_user_session_path %> </li>
       <% end %>
    </ul>
   </div><!--/.nav-collapse -->
  </div>
  
  <%= yield %>



</body>

</html>
